html{
	background: url('/assets/css/images/bg.png') 0 0 repeat #eaeaea;
}
body{
	width: 980px;
	margin: 0 auto;
}
nav .navbar-brand{
	color: #000000;
}
nav .navbar-collapse{
	width: 100%;
}
nav .navbar-nav{
	background: #444444;
}
nav .navbar-nav li.active{
	background: #000000;
}
nav .navbar-nav li a{
	color: #eeeeee;
}
#content img{
	max-width: 100%;
}
