//noinspection CssUnknownTarget
html{
	background: url('/assets/css/images/bg.png') 0 0 repeat #eaeaea;
}
body{
	width: 980px;
	margin: 0 auto;
}
nav{
	.navbar-brand{color: #000000;}
	.navbar-collapse{width: 100%;}
	.navbar-nav{
		background: #444444;
		li{
			&.active{ background: #000000; }
			a{
				color: #eeeeee;
			}
		}
	}
}
#content{
	img{ max-width: 100%;}
}