<!DOCTYPE html>
<html>
<head>
	<title>{$title} | {$site_title}</title>
	<meta charset="utf-8">
	<meta name="robots" content="index, follow">
	<meta name="description" content="Oficiální web občanského sdružení Hi5 Šumperk. Pořádáme akce jako beerpong a taneční maraton. Přijďte se podívat."/>
	<meta name="keywords" content="šumperk, občanské sdružení, sport, atletika, beerpong"/>
	<meta name="author" content="Jan Hrivnák"/>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Russo+One" type="text/css" rel="stylesheet"/>
	<link href="/assets/css/index.css" rel="stylesheet" type="text/css"/>

	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body id="body">
{include "_snippets/menu.latte"}

<div id="content">
	{block content}{/block}
</div>

{include "_snippets/googleAnalytics.latte"}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>